# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database
DATABASE_URL=

# App URLs
NEXT_PUBLIC_WEB_URL=https://kscsystem.pl
NEXT_PUBLIC_LANDING_URL=https://sprawdzksc.pl
NEXT_PUBLIC_ADMIN_URL=https://panel.silers.pl
